/* styles.css */


.main-container {
    background: linear-gradient(to bottom, #333, #555); /* Gradiente de cinza para preto */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #38f515; 
}

.form-label {
    display: flex;
    align-items: center;
    gap: 2px;
}

/* Adicione mais estilos personalizados conforme necessário */


