  .link-no-style {
    color: inherit; 
    text-decoration: none; 
  }

  .main-container {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .disabled-link {
    pointer-events: none; /* Impede eventos de clique */
    color: #6c757d; /* Define a cor de texto desativada */
    text-decoration: none; /* Remove a sublinhado */
  }