/* Estilos para o header */
.header-container {
  background-color: #333;
  color: #333;
  text-align: center;
}

/* Estilos para o container principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

/* Estilos para os títulos */
.text-success {
  color: #38f515;
  font-size: 24px;
}

.text-danger {
  color: red;
  font-size: 24px;
}

/* Estilos para as bicicletas disponíveis e alugadas */
.bike {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}