/* VisualizarBike.css */

/* Styles for the header */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  /* Styles for the main container */
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

  }
  
  /* Styles for the bike image */
  .img-bike {
    width: 20rem;
  }
  
  .img-bike img {
    height: 22rem;
    object-fit: cover;
    object-position: center;
  }
  
  /* Styles for bike information */
  .info-bikes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color:white;
  }
  
  .info-bikes span {
    font-weight: bold;
    color: rgb(255, 255, 255)
  }
  
  /* Styles for the contact button */
  .mt-2 {
    margin-top: 2rem;
  }
  
  /* Customize other styles as needed */
  