/* Estilos para o componente PerfilUser */

/* Estilos para o corpo da página */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilos para a seção de informações do usuário */
  .userDados {
    margin-top: 20px;
    padding: 20px;
    border: solid #ffffff;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    color: white;
  }
  
  .userDados h1 {
    margin-bottom: 10px;
    color: #000000;
  }
  
  .userDados p {
    color: #555;
    margin: 10px 0;
  }
  

  .userDados a {
    margin: 5px 0;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .userDados a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para o botão WhatsApp */
  .btn-success {
    background-color: #38f515;
    border-color: #38f515;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #38f515;
    border-color: #38f515;
  }
  
  /* Estilos para a seção de bicicletas do usuário */
  .userBikes {
    margin-top: 20px;
    text-align: center;
  }
  
  .userBikes h1 {
    margin-bottom: 20px;
    color: #38f515;
  }
  
  .bicicletas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* Estilos para as divs de bicicletas */
  /* .div-bike {
    width: 300px;
    border: center solid #ffffff;
    border-radius: 5px;
    padding: 6px;
    background-color: #fff;
  }
   */
  /* Estilos para o texto quando o usuário não tem bicicletas cadastradas */
  .userBikes span {
    color: #555;
    margin-top: 20px;
  }
  
  /* Estilos para links */
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Outros estilos gerais */
  .profile-image{
  border-radius: 50%;
  /* Certifique-se de que a largura e a altura da imagem sejam iguais */
  width: 100px; /* Defina a largura desejada */
  height: 100px; /* Defina a altura desejada */
  object-fit: cover; /* Opcional: mantém a proporção da imagem e cobre o círculo */
  }
  /* Adicione outros estilos gerais aqui */
  